@import 'tailwindcss';

:root {
  --color-bg-body: #f1f1f1;
  --color-bg-primary: #5e2db4;
  --color-primary: #5e2db4;
  --color-bg-task: #ffffff;
  --color-bg-summary-card: #e8dafc;
  --color-border: #d1d5db;
  --color-input-bg: #ffffff;
  --color-hover-btn: #7134da;

  --color-text-primary: #111827;
  --color-text-primary-white: #ffffff;
  --color-text-secondary: #464e5e;
  --color-text-secondary-white: #f1f1f1;
  --color-text-muted: #9ca3af;

  --color-category-task: #2563eb;
  --color-category-meeting: #f59e0b;
  --color-category-medicine: #22c55e;

  --color-hover-task: #e8dafc;
  --color-active: #e5e7eb;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

.dark {
  --color-primary: #60a5fa;
  --color-bg: #0f172a;
  --color-text: #f9fafb;
}

.green {
  --color-primary: #22c55e;
  --color-bg: #f0fdf4;
  --color-text: #052e16;
}

.purple {
  --color-primary: #a855f7;
  --color-bg: #faf5ff;
  --color-text: #2e1065;
}

body {
  background: var(--color-bg-body);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
*::-webkit-scrollbar {
  width: 0;
}
* {
  scrollbar-width: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease;
}
